@{
    ViewData["Title"] = "Редактор блога";
}
@model BlogModel;
<h1>@ViewData["Title"]</h1>

<table>
    <tr><td>Управление блогом:</td></tr>
    <tr>
        <td>
            <!-- Управление блогом: -->
            <form runat="server" method="post" asp-controller="Home" asp-action="SaveBlogModel" onsubmit="return BlogData(document.getElementById('Theme').value,document.getElementById('BlogText').value);">
            <label asp-for="Id"></label><br>
            <input asp-for="Id" class="form-control" style="border-radius:10px;width:600px;" readonly value="@ViewBag.blog.Id"><br>
            <label asp-for="Theme"></label><br>
            <input asp-for="Theme" class="form-control" style="border-radius:10px;width:600px;" value="@ViewBag.blog.Theme" id="Theme"><br>
            <label asp-for="BlogText"></label><br>
            <textarea asp-for="BlogText" style="border-radius:10px;width:600px;" rows="7">
            @ViewBag.blog.BlogText
            </textarea><br>
            <label asp-for="Autor"></label><br>
            <input asp-for="Autor" class="form-control" style="border-radius:10px;width:600px;" readonly value="@ViewBag.blog.Autor"><br>
            <label asp-for="PubDate"></label><br>
            <input asp-for="PubDate" class="form-control" style="border-radius:10px;width:600px;" readonly value="@ViewBag.blog.PubDate"><br>
            Список тегов:<br>
                <asp:CheckBoxList id="Tegs" runat="server" RepeatLayout="OrderedList">
                    @foreach (var teg in ViewBag.tegs)
                    {
                        <asp:ListItem Selected="true">@teg.TegName</asp:ListItem>
                    }
                </asp:CheckBoxList>
            <br>
            <button style="border-radius:10px;" onklick="form.submit();">Сохранить</button>
            </form>
        </td>
    </tr>
</table>
