@{
    ViewData["Title"] = "Главная страница";
}
@model IndexSendModel;
<h1>@ViewData["Title"]</h1>

<!-- Поиск -->

<input type="text" id="findtxt" oninput="filterContent()" size="50%">

<!-- Основные данные - Блоги -->

<script>
    function sendget(url) {
        var xhr = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
        var client = new xhr();
        client.open('GET', url, true);
        // Определяем обработчик
        client.onreadystatechange = function () {
            if (this.readyState == 4) {
                // Обработка результатов
            }
        };
        client.send();
    }

    document.getElementById("UserLogo").innerHTML = "<img src='/user.jpg' height='32'><br> @ViewBag.user.Login (@ViewBag.user.Role)";

</script>

<div class="text-center">
    @foreach (var blog in ViewBag.blogs)
    {
        TempData["findData"] = "";
        <div class="blog-container">
        <table border="0" style="width:85%;border-radius:10px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);text-shadow: gray 0 0 2px;">
            <tr><td><b>@blog.Theme</b></td><td width="200"><font color="green">@blog.Autor</font></td><td width="200"><font color="red">@blog.PubDate</font></td></tr>
            <tr><td colspan="3" align="left">@Html.Raw(@blog.BlogText)</td></tr>
            <tr><td colspan="3" align="left">
            @foreach (var teg in ViewBag.listTegs)
            {
                TempData["check"] = "";
                @foreach (var tegblog in ViewBag.listTegBlogs)
                        {
                            if (tegblog.BId == blog.Id && tegblog.TId == teg.TegName)
                            {
                                TempData["check"] = "checked";
                                TempData["findData"] = TempData["findData"] + @teg.TegName + ",";
                            }
                        }
                            @if (ViewBag.user.Role == "user")
                            {
                                <input type="checkbox" id="@blog.Id@teg.TegName" @TempData["check"] onclick="return false;" onchange="sendget(' /Home/SaveTegGet?BId =@blog.Id&TId =@teg.TegName&data ='+document.getElementById(' @blog.Id@teg.TegName').checked);"> @teg.TegName
                            }
                            @if (ViewBag.user.Role != "user")
                            {
                            <input type="checkbox" id="@blog.Id@teg.TegName" @TempData["check"] onchange="sendget('/Home/SaveTegGet?BId=@blog.Id&TId=@teg.TegName&data='+document.getElementById('@blog.Id@teg.TegName').checked);"> @teg.TegName
                            }
                        }
            <p hidden>@TempData["findData"]</p>
            </td></tr>
            <tr><td colspan="3" align="left"><em>Комментарии:</em></td></tr>
            @foreach (var comment in ViewBag.listComments)
            {
                @if (comment.SId == blog.Id)
                {
                    <tr>
                        <td colspan="2" align="left"><font size="-1">@comment.Text (@comment.Autor/@comment.PubDate)</font></td>
                        <td>
                            @if (ViewBag.user.Role == "admin" || ViewBag.user.Role == "moder" || ViewBag.user.Login == comment.Autor)
                            {
                                <form method="post" asp-controller="Home" asp-action="AddEditComment">
                                    <input asp-for="Comment" type="hidden" value="" style="width:80%;">
                                    <input asp-for="Id" value="3" style="width:80%;" type="hidden">
                                    <input asp-for="IdBlog" value="@blog.Id" style="width:80%;" type="hidden">
                                    <input asp-for="IdComment" value="@comment.Id" style="width:80%;" type="hidden">
                                    <button style="border-radius:10px;"><font color="red">Удалить комментарий</font></button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
            <tr><td colspan="3" align="left">
                    <form method="post" asp-controller="Home" asp-action="AddEditComment">
                    Новый комментарий:<br>
                        <input asp-for="Comment" type="text" value="" style="width:80%;">
                        <input asp-for="Id" value="1" style="width:80%;" type="hidden">
                        <input asp-for="IdBlog" value="@blog.Id" style="width:80%;" type="hidden">
                        <input asp-for="IdComment" value="-1" style="width:80%;" type="hidden">
                        <button style="border-radius:10px;"><img src="/send_comment.png" height="32"></button>
                </form>
                </td>
            </tr>
            <tr>
                <td align="left"></td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="BlogPanel">
                        <input asp-for="Id" value="@blog.Id" style="width:80%;" type="hidden">
                        <input asp-for="Theme" value="@blog.Theme" style="width:80%;" type="hidden">
                        <input asp-for="BlogText" value="@blog.BlogText" style="width:80%;" type="hidden">
                        <input asp-for="Autor" value="@blog.Autor" style="width:80%;" type="hidden">
                        <input asp-for="PubDate" value="@blog.PubDate" style="width:80%;" type="hidden">
                        <button style="border-radius:10px;" onklick="form.submit();">Редактировать блог</button>
                    </form>
                </td>
                <td><button style="width:200px;border-radius:10px;box" onclick="alert('Запрос не может быть выполнен, потому что функция и не реализована и логика удаление или скрыте - еще не утверждена/не продумана!')"><font color="red">Удалить блог</font></button></td>
            </tr>
            </table><br>
        </div>
    }
</div>

<!-- Кнопки управления -->

<table width="100%">
    <tr><td align="center" colspan="3"><-- Функцциональные клавиши согласно полномочий --></td></tr>
    <tr>
        <td>
            @if (ViewBag.user.Role == "admin" || ViewBag.user.Role == "moder" || ViewBag.user.Role == "user")
            {

                <form method="post" asp-controller="Home" asp-action="BlogPanel">
                    <button style="border-radius:10px;" onklick="form.submit();">Добавить новый блог</button>
                </form>

            }
        </td>
        <td>
            @if (ViewBag.user.Role == "admin" || ViewBag.user.Role == "moder")
            {

                <form method="post" asp-controller="Home" asp-action="TegPanel">
                    <button style="border-radius:10px;" onklick="form.submit();">Управление тегами</button>
                </form>

            }
        </td>
        <td>
            @if (ViewBag.user.Role == "admin")
            {

                <form method="post" asp-controller="Home" asp-action="AdminPanel">
                    <button style="border-radius:10px;" onklick="form.submit();">Управление пользователями/ролями</button>
                </form>

            }
        </td>
    </tr>
</table>
